*	{
	box-sizing: border-box
}
h1 {
	font-size: 60px;
	background-color: aliceblue;
}
.post-heading {
	color: red;
	font-size: 1.5em;
	text-align: left;	
}
#main-nav	{
	font-size: 1.3em;	
}
#main-nav a,
#main-nav a:visitied
#main-nav a:link {
	text-decoration: none;
}
#main-nav a:hover,
#main-nav a:focus,
#main-nav a:active{
	text-decoration: none;
	display: inline;
	padding: 10px;
	text-align: center;
	position: relative;
}
.sports-image	{
	width: 35px;
}
article p	{
	padding:10px;
	text-align: justify;
	column-count: 1;
	width: 400px;
	margin: 20px
}
#main-nav ul li	{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	background-color: aliceblue
}
#main-nav a:hover, #main-nav a:focus, #main-nav a:active {
	text-decoration: underline;
	font-size: 25px;
}
#content-left	{
	padding: 0px 25px;
	width:100%;
	margin-bottom: 30px;
	text-align: left;
	background-color: lightgrey;
}	
.covered	{
	float: left;
	font-size: 1.2em;
	margin: 5px;
	width: 45%;
}
.logos-pro	{
	text-align: center;
	clear: both;
	padding: 10px 10px;
	margin: 10px
}
